:root {
    --default-canvas-size: 1000px;
    --button-element-height: 75px;
    --button-element-width: 125px;
    --options-height: 500px;
    --options-width: 500px;
    --slider-thumb-size: 30px;
}

html,
body,
.board-content,
.menu,
.board,
.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
}

.board-content {
    gap: 50px;
}

.menu {
    flex-direction: column;
}

h1 {
    font-size: 75px;
    margin-bottom: 100px;
}

button {
    height: var(--button-element-height);
    width: var(--button-element-width);
    font-size: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 10px 10px lightgrey;
}

button:hover {
    color: white;
    background-color: rgb(62, 62, 255);
}

button.pressed {
    background-color: lightgrey;
    color: black;
    box-shadow: 0 0 5px rgb(146, 146, 146) inset;
    outline: none;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type='range'] {
    width: var(--options-width);
    height: 50px;
    cursor: pointer;
}

input[type='range']::-webkit-slider-runnable-track {
    width: var(--options-width);
    height: 10px;
    background: lightgrey;
    border-radius: 5px;
}

input[type='range']::-webkit-slider-thumb {
    position: relative;
    height: var(--slider-thumb-size);
    width: var(--slider-thumb-size);
    margin-top: -10px;
    background: black;
    border-radius: 50%;
    box-shadow: 5px 5px 5px grey;
}

.options,
.size-selector {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.options {
    height: var(--options-width);
}

.size-value {
    font-size: 30px;
}

.board {
    flex-direction: column;
    width: var(--default-canvas-size);
    height: var(--default-canvas-size);
    border: 10px black solid;
}

.row {
    flex-direction: row;
}

.tile {
    background-color: white;
}