html, body, .board {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    height: 100px;
    width: 200px;
    font-size: 25px;
}

.board {
    flex-direction: column;
    width: 1200px;
    height: 1200px;
    border: 10px red solid;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.tile {
    background-color: "white";
}